@model IEnumerable<TypeOfComponent>
@{
    Layout = "_AdminLayout";
}

<h2>TypeOfComponents</h2>

<a asp-action="AddTypeOfComponent" asp-controller="TypeOfComponent" class="btn btn-primary">Add More</a>

<table class="table table-striped my-2">
    <tr>
        <th>TypeOfComponent</th>
        <th>Action</th>
    </tr>

    @foreach(var typeofcomponent in Model)
    {
        <tr>
            <td>@typeofcomponent.TypeOfComponentName</td>
            <td>
                <a asp-action="UpdateTypeOfComponent" asp-controller="TypeOfComponent" asp-route-id="@typeofcomponent.Id" class="btn btn-success">Edit</a>
                <a asp-action="DeleteTypeOfComponent" asp-controller="TypeOfComponent" asp-route-id="@typeofcomponent.Id" class="btn btn-danger" onclick="return window.confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    }
</table>

